PORT=8081
NODE_ENV=development
ALLOW_ORIGIN=*

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=
DB_PORT=
DEV_DB_URL=
PROD_DB_URL=

TEST_DB_HOST=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_DIALECT=
TEST_DB_PORT=

TOKEN_SECRET=
